

.navbar{
    /*background: #122b40;*/
    /*border-color: #00cc99;*/
    background: black;
    border-color: #3c3c3c;
    box-shadow: 0px 0px 5px black ;
}

/*.nav-li:hover{*/
    /*background: blue;*/
/*}*/