/* Styles go here */

.thumbnail-clicked {
    box-shadow: 0px 0px 5px gray;
}

.movie-list-poster {
    /*Reduce height if the col-lg-6 of list is increased*/
    height: 200px;
}

.movie-list-details {
}

.movie-filter-div {
    background: rgba(0, 0, 0, 0.5);
    color: rgb(150, 150, 150);
    text-shadow: 0px 0px 5px black;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    border-radius: 5px;
    border: 1px dotted rgb(150, 150, 150);
    box-shadow: 0px 0px 5px black;
}

.filter-by-input {
    padding: 0px;
}

.movie-list-div {
    background: rgba(0, 0, 0, 0.5);
    padding-right: 0px;
}

.type-listbox {
    border-radius: 0px;
    height: 20px;
}

/*---ANGULAR UI BOOTSTRAP--*/

.nav,
.pagination,
.carousel,
.panel-title a {
    cursor: pointer;
}

.stream-link, .stream-link:hover, .stream-link:visited {
    text-decoration: none;
    color: #555;
}