<uib-accordion close-others="movieVm.oneAtATime">
    <uib-accordion-group panel-class="panel-primary">
        <uib-accordion-heading>
            Create/Update User <i class="pull-right glyphicon"
                                  ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
        </uib-accordion-heading>
        <div class="col-xs-12" ng-include="'app/views/movie-form.tmpl.html'"></div>
    </uib-accordion-group>
    <uib-accordion-group panel-class="panel-success" is-open=true>
        <uib-accordion-heading>
            View Movie Details <i class="pull-right glyphicon"
                                  ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
        </uib-accordion-heading>
        <div class="col-xs-12" ng-include="'app/views/movie-details2.tmpl.html'"></div>

    </uib-accordion-group>


</uib-accordion>