<form ng-submit="movieVm.submitMovie()" class="admin-movie-form">
    <div class="form-group">
        <h3>Add/Edit Movie</h3>
    </div>

    <div class="form-group">
        <label for="movieTitle">Title:</label>
        <input type="text" id="movieTitle" placeholder="Enter Title" ng-model="movieVm.newMovie.title"/>
    </div>

    <div class="form-group">
        <label for="moviePlot">Plot:</label>
        <textarea id="moviePlot" rows="3" placeholder="Enter Plot" ng-model="movieVm.newMovie.plot"></textarea>
    </div>

    <div class="form-group">
        <label for="movieType">Type:</label>
        <div class="radio">
            <label>
                <input type="radio" name="movieType" id="typeRadios1" value="movie" checked> Movie
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="movieType" id="typeRadios2" value="series"> Series
            </label>
        </div>
    </div>

    <div class="form-group">
        <label for="movieRating">Rating:</label>
        <select id="movieRating" ng-model="movieVm.newMovie.rating">
            <option value="G">G</option>
            <option value="PG">PG</option>
            <option value="PG-13">PG-13</option>
            <option value="R">R</option>
            <option value="TV-PG">TV-PG</option>
            <option value="TV-14">TV-14</option>
            <option value="TV-MA">TV-MA</option>
            <option value="N/A" selected>N/A</option>
        </select>
    </div>

    <div class="form-group">
        <label for="movieReleased">Released:</label>
        <input type="text" id="movieReleased" placeholder="yyyy-mm-dd" ng-model="movieVm.newMovie.released"/>
    </div>


    <div class="form-group">
        <label for="movieRuntime">Runtime:</label>
        <input type="number" id="movieRuntime" min="1" max="300" ng-model="movieVm.newMovie.runtime"/>
    </div>

    <div class="form-group">
        <label for="movieMetascore">Metascore:</label>
        <input type="number" id="movieMetascore" min="1" max="100" ng-model="movieVm.newMovie.metascore"/>
    </div>

    <div class="form-group">
        <label for="movieImdb">IMDB Rating:</label>
        <input type="number" id="movieImdbRating" min="1" max="10" step="0.1" ng-model="movieVm.newMovie.imdbRating"/>
        <input type="text" id="movieImdbVotes" placeholder="Number of Votes" ng-model="movieVm.newMovie.imdbVotes"/>
    </div>

    <div class="form-group">
        <label for="movieLanguage">Language:</label>
        <input type="text" id="movieTitle" placeholder="Pick Languages" ng-model="movieVm.newMovie.lang"/>
    </div>

    <div class="form-group">
        <label for="movieCountry">Country:</label>
        <input type="text" id="movieCountry" placeholder="Pick Countries" ng-model="movieVm.newMovie.country"/>
    </div>


    <div class="form-group">
        <label for="movieGenre">Genre:</label>
        <input type="text" id="moviegenre" placeholder="Pick Genres" ng-model="movieVm.newMovie.genre"/>
    </div>

    <div class="form-group">
        <label for="movieDirector">Director:</label>
        <input type="text" id="movieDirector" placeholder="Enter Director" ng-model="movieVm.newMovie.director"/>
    </div>

    <div class="form-group">
        <label for="movieActors">Actors:</label>
        <input type="text" id="movieActors" placeholder="Enter Actors" ng-model="movieVm.newMovie.actors"/>
    </div>

    <div class="form-group">
        <label for="movieWriter">Writer:</label>
        <input type="text" id="movieWriter" placeholder="Enter Writer" ng-model="movieVm.newMovie.writer"/>
    </div>
    <div class="form-group">
        <label for="movieAwards">Awards:</label>
        <input type="text" id="movieAwards" placeholder="Enter Awards" ng-model="movieVm.newMovie.awards"/>
    </div>

    <div class="form-group">
        <label for="moviePoster">Poster:</label>
        <input type="text" id="moviePoster" placeholder="Enter URL" ng-model="movieVm.newMovie.poster" />
    </div>

    <div class="form-group">
        <button type="Submit" ng-hide='movieVm.updating' class="btn-lg btn-primary center-block">Add Movie</button>
        <button type="Submit" ng-show="movieVm.updating" class="btn-lg btn-primary center-block">Update Movie</button>
    </div>

</form>