<div class="col-xs-12 admin-movie-details">
    <div class="row">
        <div class="col-xs-9">
            <h3>Movie Details: Title goes here (Year)</h3>
        </div>
        <div class="col-xs-3">
            <h3><i class="glyphicon glyphicon-eye-open"></i>
                <i class="glyphicon glyphicon-trash"></i>
                <i class="glyphicon glyphicon-edit"></i></h3>
            FLUSH TO RIGHT
        </div>
        <div class="col-xs-12">
            MID: <strong>77fd34f4-945a-4bf0-8ceb-efe386ce9443</strong>

        </div>
        <div class="col-xs-12 admin-movie-details-plot-poster">
            <div class="col-xs-8">
                <div class="row">
                    <div class="col-xs-12">
                        <p>Plot:
                            <br>Three decades after the defeat of the Galactic Empire, decades after the defeat of the
                            Galactic Empire, decades after the defeat of the Galactic Empire, a new threat arises. The
                            First Order attempts to rule the galaxy and only a ragtag group of heroes can stop them,
                            along with the help of the Resistance.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">Type:
                        <br><strong>movie</strong></div>
                    <div class="col-xs-6">Rated:
                        <br><strong>PG-13</strong></div>
                </div>
                <div class="row">
                    <div class="col-xs-6">Released:
                        <br><strong>18 Dec 2015</strong></div>
                    <div class="col-xs-6">Runtime:
                        <br><strong>143 min</strong></div>
                </div>
                <div class="row">
                    <div class="col-xs-6">Metascore:
                        <br><strong>81</strong></div>
                    <div class="col-xs-6">IMDB:
                        <br><strong>8.4</strong> (votescount)
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">Language:
                        <br><strong>English, French</strong></div>
                    <div class="col-xs-6">Country:
                        <br><strong>USA, Australia</strong></div>
                </div>

            </div>
            <div class="col-xs-4 admin-movie-details-poster">
                <img class="movie-poster img-responsive thumbnail"
                     src="http://localhost:8000/MV5BMTU4MDU3NDQ5Ml5BMl5BanBnXkFtZTgwOTU5MDUxNTE%40._V1_SX300.jpg">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">Genre:
            <strong>Action, Adventure, Fantasy</strong></div>
        <div class="col-xs-12">Director:
            <strong>J.J. Abrams</strong></div>
        <div class="col-xs-12">Actors:
            <strong>Harrison Ford, Mark Hamill, Carrie Fisher, Adam Driver</strong></div>
        <div class="col-xs-12">Writer:
            <strong>Lawrence Kasdan, J.J. Abrams, Michael Arndt, George Lucas (based on characters created by)</strong>
        </div>
        <div class="col-xs-12">Awards:
            <strong>Nominated for 5 Oscars. Another 2 wins & 25 nominations.</strong></div>

    </div>
</div>