<!--<div class = "col-xs-10 col-xs-offset-1">-->
<!--<table class="table comments-row">-->
    <!--<thead>-->
    <!--<th>Sr. No.</th>-->
    <!--<th>Thumbnail</th>-->
    <!--<th>Comment</th>-->
    <!--<th>Rating</th>-->
    <!--</thead>-->
    <!--<tbody>-->
    <!--<tr ng-repeat="comment in streamVm.comments">-->
        <!--<td>{{$index+1}}</td>-->
        <!--<td><img ng-src="{{comment.poster}}" class = "comments-user-thumbnail" ></td>-->
        <!--<td>{{comment.ucomment}}</td>-->
        <!--<td>{{comment.timestamp}}</td>-->
    <!--</tr>-->
    <!--</tbody>-->
<!--</table>-->
<!--</div>-->

<div class="list-group col-xs-12 col-sm-10 col-sm-offset-1">
    <h3 class="comments-header">COMMENTS</h3>
    <div class ="comment-row"
            ng-repeat="comment in streamVm.comments">
        <view-comment comment="comment">No Comments</view-comment>
    </div>
    <div class="comment-text-container col-xs-12 panel">
        <form ng-show=true ng-submit="streamVm.createComment()">
            <p> Write a Comment...</p>
            <div class="form-group">
                <textarea ng-model="streamVm.newComment.ucomment" class="col-xs-9 col-sm-11" rows="3"></textarea>
                <button type = "submit" class="col-xs-3 col-sm-1 btn-primary comment-send-button">SEND<i class="glyphicon glyphicon-send"></i></button>
            </div>
        </form>
    </div>

</div>