<nav class="navbar navbar-default navbar-fixed-top nav-bar">
    <div class="container-fluid">

        <ul class="nav nav-pills">
            <li role="presentation" class="nav-li">
                <a class="navbar-brand" href="#">
                    <img alt="Brand" src="images/cinecyberlogo.gif" height="40px">
                </a>
            </li>
            <li role="presentation" class="nav-li"><a href="#/movie-browse">Movie</a></li>
            <li role="presentation" class="nav-li"><a href="#/movie-admin">Movie-Admin </a></li>
        </ul>
    </div>

</nav>